<div class="container mt-3">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <form [formGroup]="frm" (ngSubmit)="onSubmit(frm.value)">
        <div class="row">
          <div class="mb-3">
            <label for="userName" class="form-label">User Name</label>
            <input required  type="text" formControlName="userName" class="form-control" id="userName" >

          </div>
          <div class="mb-3">
            <label for="nameSurname" class="form-label">Name Surname</label>
            <input required type="text" class="form-control" formControlName="nameSurname" id="nameSurname"
             [ngClass]="{'is-invalid':submitted && component.nameSurname.errors}" >
            <div id="nameSurname" class="form-text" *ngIf="submitted && component.nameSurname.errors?.maxLength">50 karakterden fazla girilmez.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" formControlName="email"  id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" formControlName="password"  id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password Again</label>
            <input type="password" class="form-control" formControlName="passwordAgain"  id="exampleInputPassword1"
            [ngClass]="{'is-invalid':submitted && component.passwordAgain.errors}">
            <small *ngIf="submitted && frm.hasError('notSame')">Şifreyi doğrulayınız.</small>
          </div>
        </div>
        <button type="submit"  [disabled]="!frm.valid" class="btn btn-primary">Sign in</button>
      </form>
    </div>

  </div>
</div>
