.example-form {
  width: 80%;
}

.example-full-width {
  width: 100%;
}
.form-container {
  justify-content: center;
  margin-top: 100px;
}

/* İnputların içeriğini uzatılmış hale getirin */
.example-form input {
  width: 100%;
}
