<mat-list role="list" class="list">
  <a mat-list-item routerLink="/admin">Dashboard</a>
  <mat-list-item>
    <button [class.active]="isSubMenuActive"  class="menu-trigger" mat-button [matMenuTriggerFor]="menu" >Products</button>
    <mat-menu #menu="matMenu" >
      <button mat-menu-item [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }" routerLink="/admin/products/create">Create Product</button>
      <button mat-menu-item [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }" routerLink="/admin/products">List Product</button>
    </mat-menu>
  </mat-list-item>


  <a mat-list-item routerLink="/admin/customers">Customers</a>
  <a mat-list-item routerLink="/admin/orders">Orders</a>
  <a mat-list-item routerLink="/">See your site</a>

</mat-list>
