<div class="container-fluid">
  <div class="row">
    <div class="col-2 col-md-2">
      <div class="sidebar">
        <div class="menu">
          <ul>
            <li><a routerLink="/admin">Anasayfa</a></li>
            <li><a routerLink="/admin/products">Ürünler</a></li>
            <li><a routerLink="/admin/products/create">Ürün Ekle</a></li>
            <li><a routerLink="/admin/customers">Müşteriler</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-10">
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>



</div>